/* 
Author: Iftekhar A Chowdhury;
Version: 4.0.1;
 */
body{
    padding:1%;
    margin: 2%;
}


header{
    background:#B3B3B3;
    background-image: url("images/flywheel.jpg");    
    padding: 5%;
    text-align: center;
}



nav{
	
	font-family: Arial, "Times New Roman", serif;
	font-size: 150%;
}




nav a{
	display: inline-block;
	background-color: #ffffff;
    color: #050579;
    opacity: 0.4;
	width:22%;
    border-radius:25px;
    text-decoration: none;
 
}


a:hover {
  background: #1a237e;
  color: #ffffff;
}


h1{
   color:#FFFFFF;
   text-align:center;
   text-transform: uppercase;
}


.active{
  opacity:1;
    
}


img{
    
    margin:0px auto;
    margin-bottom: 30px;
    display:block;
    width:70%;  
    height:90%;
    border:2px;
    
   
}

.left{
	width:20%;
    height:40%;
	margin-right: 2%;
    margin-bottom: 1%;
	display:inline-block;	
    background:#004c00;
    float: left;
    padding: 2%;
}


.right{
	width:70%;	
	display:inline-block; 
    float:left;
  

}