/* 
Author: Iftekhar A Chowdhury;
Version: 7.0.1;
 */
body{
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    
} 
h1{
    background:#B3B3B3;
    font-size: 150%;
}
header{
    background: #666666;
    text-align: center;
}
h1{
    color:#FFFFFF;
}
nav{
    font-variant:small-caps;
    font-size:150%;
    font-family: arial, "Time New Roman", serif;
}
h2{
    color:#777777;
    background: #00B7EA;
}
details{
    font-style: italic;
}
summary{
    font-style:normal;
}
footer{
      background: #666666;
      color:#FFFFFF;
}